* {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
img {
	max-width: 75%;
	max-height: 75%;
	display: block;
  margin: 0 auto;
  margin-top: -19px;
  box-shadow: 3px 3px 20px #CCC;
}
.slide {
	position: relative;
}
.footer {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-right: 20px;
}
.left-footer {
	float: left;
	max-width: 50%
}
.right-footer {
	float: right;
	font-weight: 500;
	max-width: 50%;
}
.name {
	margin: 20px;
	font-size: 40px;
	font-weight: 500;
}
.longText div {
	line-height: 1.5;
}
.titleText {
	font-size: 24px;
	font-weight: 500;
	margin: 10px 0;
}
.topTitleText {
	margin-top: 0;
}
.paddedContent {
	margin: 20px;
}
.icon {
	font-size: 12px;
}
.fp-controlArrow.fp-prev {
	border-color: transparent #000 transparent transparent;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #000;
}
