<h1>CSS</h1>
<h2>Ellipsis</h2>
<div><code>text-overflow:ellipsis</code> only works when the following are true:</div>
<div class="indent">The element's width must be constrained in px (pixels). Width in % (percentage) won't work</div>
<div class="indent">The element must have <code>overflow:hidden</code> and <code>white-space:nowrap</code> set.</div>
<div>You can fix this by doing one of the following:</div>
<div class="indent">Set the element to <code>display:inline-block</code> or <code>display:block</code> (probably the former, but depends on your layout needs).</div>
<div class="indent">Set one of its container elements to <code>display:block</code> and give that element a fixed width or max-width.</div>
<div class="indent">Set the element to <code>float:left</code> or <code>float:right</code> (probably the former, but again, either should have the same effect as far as the ellipsis is concerned).</div>

<external-link link="http://stackoverflow.com/questions/17779293/css-text-overflow-ellipsis-not-working" text="Source stack overflow"></external-link>