<h1>Sublime Text 3</h1>
<h2>Useful User Settings</h2>
<div><code>font_size</code> - set to any pixel size.</div>
<div><code>highlight_line</code> - set to <code>true</code> to highlight the current line the cursor is on.</div>
<div><code>save_on_focus_lost</code> - set to <code>true</code> to save files when left.</div>
<div><code>tab_size</code> - defaults to 4 spaces.</div>
<div><code>word_wrap</code> - set to <code>true</code> for lines to wrap.</div>
<br>
<h2>Useful Packages</h2>
<div><external-link text="All Autocomplete" link="https://packagecontrol.io/packages/All%20Autocomplete" font-size="16px"></external-link></div>
<div><external-link text="BracketHighlighter" link="https://packagecontrol.io/packages/BracketHighlighter" font-size="16px"></external-link></div>
<div><external-link text="git" link="https://packagecontrol.io/packages/Git" font-size="16px"></external-link></div>
<div><external-link text="SideBarEnhancements" link="https://packagecontrol.io/packages/SideBarEnhancements" font-size="16px"></external-link></div>
<br>
<h2>Themes &amp; Color Schemes</h2>
<div>Nexus</div>
<br>
<h2>Key Bindings</h2>