<h1>Vim</h1>
<h2>Key Bindings</h2>
<div><code>i</code> - insert at current line</div>
<div><code>I</code> - insert at start of current line </div>
<div><code>A</code> - insert at end of current line</div>
<div><code>o</code> - insert below current line</div>
<div><code>O</code> - insert above current line</div>
<br>
<div><code>dd</code> - delete line</div>
<div><code>dw</code> - delete word</div>
<div><code>x</code> - delete char</div>
<br>
<div><code>:102</code> - go to line</div>
<div><code>102</code> - move cursor down 102 lines</div>
<br>
<br>
<h2>dotfiles</h2>
