html, body {
	margin:0;
  padding:0;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #FFF;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	cursor: pointer;
}

a:visited {
	color: inherit;
}

external-link {
	font-size: 13px;
}

h1, h2, h3, h4 {
	font-weight: 300;
	margin: 0;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.3em;
}

.md-whiteframe-z5 {
	background-color: #FFF;
}

.menu-bar {
	padding: 20px;
}

.menu-bar .menu-title {
	font-size: 24px;
	display: inline-block;
	line-height: 1;
}

.menu-bar .menu-nav {
	float: right;
	font-size: 18px;
	display: inline-block;
}

.menu-bar .menu-nav span {
	padding-left: 20px;
	line-height: 1;
}

.menu-bar .menu-nav span:hover {
	cursor: pointer;
}

md-menu-content {
	color: #222;
}

.content {
	padding: 20px;
}

.indent {
	padding-left: 20px;
}

code {
	background-color: rgba(0,0,0,.25);
	font-weight: 300;
	font-size: 14px;
}

.color-container {
	background-color: #FFF;
}


.home-page-color,
.home-page-color-add.home-page-color-add-active {
	background-color: #00A8C6;
}
