<div class="menu-bar">
	<div class="menu-title">Developer's Guide</div>
	<div class="menu-nav">
		<span ng-click="go('/')">Home</span>
		<span ng-click="go('/color')">Color</span>
		<span ng-click="go('/html')">HTML</span>
		<span ng-click="go('/css')">CSS &amp; Sass</span>
		<span ng-click="go('/javascript')">JS</span>
		<span ng-click="go('/angular')">Angular</span>
		<span ng-click="go('/git')">Git</span>
		<span ng-click="go('/vim')">Vim</span>
		<span ng-click="go('/sublime')">ST3</span>
	</div>
</div>
