* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: 0 auto;
  margin-top: -19px;
  box-shadow: 3px 3px 20px #CCC;
}

.slide {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

.left-footer {
  float: left;
  max-width: 60%
}

.right-footer {
  float: right;
  font-weight: 500;
  max-width: 40%;
}

.name {
  margin: 20px;
  font-size: 40px;
  font-weight: 500;
}

.long-text div {
  line-height: 1.4;
}

.title-text {
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
}

.top-title-text {
  margin-top: 0;
}

.padded-content {
  margin: 20px;
}

.icon {
  font-size: 12px;
}

.icon.large-icon {
  font-size: 28px;
}

.fp-controlArrow {
  margin-top: -20px;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #000 transparent transparent;
  border-width: 20px 20px 20px 0;
  left: 10px;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #000;
  border-width: 20px 0 20px 20px;
  right: 10px;
}

/* Mobile responsiveness */
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .name {
    font-size: 30px;
  }

  .icon.large-icon {
    font-size: 20px;
  }

  .resume-section .padded-content{
    font-size: 12px;
  }

  .resume-section .long-text {
    line-height: 1.6;
  }

  .resume-section .title-text {
    font-size: 16px;
  }

  .contact-section .long-text div {
    line-height: 1.8;
  }
}
